@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar in Firefox */
  html {
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar in Edge, IE, and other browsers */
  body, div {
    -ms-overflow-style: none;  /* IE and Edge */
  }
}
